body {
    background-color: #7000A5; 
    font-family: 'Gloria Hallelujah', cursive;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

article {
    background-color: white;
    font-size: 24px;
    /* font-weight: bold;  BORT*/
    width: 40%;
    text-align: center;
    padding: 50px 80px;
    box-shadow: 4px 4px 4px 0px #37005e;
    
    /* tillägg */
    border-radius: 10px;
}

button {
    background-color: #00FFC2;
    color: #37005e;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    font-weight: bold;    
    padding: 50px;
    margin-top: 100px;
    box-shadow: 4px 4px 4px 0px #37005e;
    cursor: pointer;
    
    /* tillägg */    
    border:none;
    border-radius: 10px;
}

    header{
        display: flex;
        justify-content: space-between;
    }
    header a{
        font-size: 3em;
        color: #FF00C7;
        text-decoration: none;
    }
    header a:hover {
        opacity: 0.7;
    }
